@import '../../styles/variables.scss';
@import '../../styles/reset.scss';

.about_body {
  background-image: url('../../../public/images/bgtest/closeupveggies.jpg');
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  position: fixed;
  z-index: 0;
  top: 0;
  display: flex;
  justify-content: space-between;

  .blur-area {
    background: inherit;
    filter: blur(8px);
    box-shadow: inset 0 0 0 220px;
    color: rgba(255, 255, 255, 0.3);
    max-width: 30%;
    margin: 150px 50px;
  }

  .about__article {
    filter: blur(0);
    padding: 25px;
    color: $dark-brown;
    overflow-x: wrap;
    border-radius: 25px;
    padding: 50px;
    margin: 4vw;
  }

  .user-photos {
    display: flex;
    justify-content: flex-start;
    width: 150px;
    height: 150px;
  }

  // img {
  //   border: 1px solid #ddd;
  //   /* Gray border */
  //   border-radius: 4px;
  //   /* Rounded border */
  //   padding: 5px;
  //   /* Some padding */
  //   width: 150px;
  //   /* Set a small width */
  //   margin: 50px;
  //   margin-top: 10px;
  // }

  // p {
  //   font-size: 1.5vw
  // }

  // h2 {
  //   margin: 0;
  //   font-size: 5.5vw;
  // }


}