@import '../../styles/variables.scss';
@import '../../styles/reset.scss';

.about__article {
  display: flex;
  max-width: 50%;
  align-self: center;
  flex-flow: column;
  padding: 25px;
  overflow-x: wrap;
  border-radius: 25px;
  background-color: $dark-background;


  color: $body-text;
}

p {
  font-size: 1.5vw
}

h2 {
  margin: 0;
  font-size: 5.5vw;
}
.about_body {
  display: flex;
  align-content: center;
  justify-content: center;

}
