@import './styles/variables.scss';
@import './styles/reset.scss';
@import "~bootstrap/scss/bootstrap";

body {
  //background-color: black;
  background-image: url('../public/images/newbackground.jpg');
  background-size: 100%;
  height: 100%;
  color: $body-text;
}

nav {
  height: 150px;
}

.section__app {
  padding: 1% 3%;
}