@import './styles/variables.scss';
@import './styles/reset.scss';
@import "~bootstrap/scss/bootstrap";

body {
  //background-image: url('../public/images/bgtest/closeupveggies.jpg');
  // background-image: url('../public/images/bgtest/farmer.jpg');
  //background-image: url('../public/images/bgtest/orchard1.jpg');
  // background-image: url('../public/images/bgtest/orchard2.jpg');
  // background-image: url('../public/images/bgtest/plant.jpg');
  // background-image: url('../public/images/bgtest/weed.jpg');
  background-image: url('../public/images/bgtest/wheat1.jpg');
  //background-image: url('../public/images/bgtest/wheat2.jpg');
  // background-image: url('../public/images/bgtest/wheat3.jpg');
  // background-image: url('../public/images/bgtest/wheat4.jpg');
  // background-image: url('../public/images/bgtest/wheat5.jpg');
  //background-image: url('../public/images/bgtest/wheat6.jpg');
  // background-color: black;
  background-attachment: fixed;
  background-size: 100%;
  min-height: 100%;
  min-width: 100%;
  color: $body-text;
  font-family: $font-family-fancy;

  .nav-block {
    height: 100px;
    width: 100%;
    display: block;
    position: static;
    background: inherit;
    background-image: url('../public/images/bgtest/wheat1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .nav-about {
    height: 100px;
    width: 100%;
    display: block;
    position: static;
    background: inherit;
    background-image: url('../public/images/bgtest/closeupveggies.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .site-body {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: inherit;
  }
}