@import './styles/variables.scss';
@import './styles/reset.scss';
@import "~bootstrap/scss/bootstrap";

body {
  background-image: url('../public/images/main_background.jpg');
  background-attachment: fixed;
  background-size: 100%;
  min-height: 100%;
  min-width: 100%;
  color: $body-text;
  font-family: $font-family-fancy;

  .nav-block {
    height: 100px;
    width: 100%;
    display: block;
    position: static;
    background: inherit;
    background-image: url('../public/images/main_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .nav-about {
    height: 100px;
    width: 100%;
    display: block;
    position: static;
    background: inherit;
    background-image: url('../public/images/about_page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .site-body {
    width: 100%;
  }
}