.cart__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 400px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 200;
  right: 0;
  transition: transform 0.3s ease-in;

  &--open {
    transform: translateX(100%);
  }

  &--close {
    transform: translateX(0%);
  }

}

.cart__products img {
  max-width: 300px;
  height: auto;
}