@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";
@import "../../../styles/reset.scss";

.category-list-item {
  display: flex;
  color: $dark-brown;
  font-weight: 500;
  font-size: 1.5vw;
  border-color: $body-text;
  border-radius: 15px;
  background-color: $light-brown;
  font-family: $font-family-fancy;
  justify-content: center;
  margin: 10px;
  width: 250px;
  
}