@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";
@import "../../../styles/reset.scss";

.category-list {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  margin-top: 210px;
  padding: 20px;
  flex-wrap: none;
}