@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";
@import "../../../styles/reset.scss";

.category-list {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  padding-top: 200px;
  margin: 25px;
  flex-wrap: wrap;
}