@import "../../styles/variables.scss";
@import "../../styles/reset.scss";

.farmer-orders {
  color: $dark-brown;
  font-size: 25px;
  font-weight: 15px;
  padding: 10px 0;
  margin: auto;
  margin-top: 150px;
  width: 60%;
  text-align: center;
}