@import "../styles/mixins.scss";
@import "../styles/variables.scss";

.farmer-products {
  color:white;
  font-size: 25px;
  font-weight: 15px;
  padding: 10px 0;
  margin: auto;
  width: 60%;
  text-align: center;
  display: table;
}
.farmer-products>* {
  display: table-row;
}
.farmer-products>*>* {
  display: table-cell;
}