@import "../styles/variables.scss";
@import "../styles/reset.scss";

.li__farmer-product-item {
  border: 2px solid;
  border-color: $dark-brown;
  background-color: $light-brown-bg;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  color: $dark-brown;
  font-family: $font-family-fancy;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .farmer-product-name {
    width: 100px;
  }

  .farmer-product-image {
    object-fit: cover;
    height: 60px;
    width: 90px;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid $dark-brown;
  }
}

.farmer-product-button {
  padding-top: 15px;
  display: fixed;
  text-align: center;
  color: $dark-brown;
  position: relative;
  min-height: 50px;

  button {
    border-radius: 10px;
    border-color: $dark-brown;
    box-shadow: 2px 2px $dark-brown-bg;
    font-family: $font-family-fancy;
    color: $dark-brown;
    background-color: $light-brown-bg;
  }

  button:active {
    background-color: $dark-brown-bg;
    color: $light-brown;
    box-shadow: inset 2px 2px 2px 2px $dark-brown-bg;
    transform: translateY(2px) translateX(3px) scale(.97);
    border-color: $dark-brown;
  }
}