@import "../styles/mixins.scss";
@import "../styles/variables.scss";

.farm-list {
  display:flex;
  justify-content: space-between;
  color:white;
  font-weight: 15px;
  width: 100%;
  padding: 10px 0;
}