@import "../styles/variables.scss";
@import "../styles/reset.scss";

.li__product-item {
  display: flex;
  flex-flow: column;
  border: 2px solid;
  border-color: $body-text;
  border-radius: 25px;
  background-color: $dark-background;
  margin: 10px;
  max-width: 350px;
  min-width: 350px;
  min-height: 400px;
  max-height: 400px;
  align-items: center;
  align-content: space-between;
  justify-content: space-evenly;
  font-size: 25px;
  color: rgb(33, 20, 4);
  font-family: $font-family-fancy;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .title__logo {
    width: 90%;
    display: flex;
    justify-content: space-between;

    .product-farm-icon {
      width: auto;
      height: 50px;
    }
  }

  .product__img {
    object-fit: cover;
    padding: auto;
    height: 200px;
    width: 300px;
    border-radius: 50%;
  }

  .div__product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .div__product-item {
    display: flex;
    justify-content: space-between;
  }

  .product-name {
    font-size: 30px;
  }

  .product-price {
    font-size: 25px;
  }

  .product-size {
    font-size: 25px;
  }

  .product-category {
    font-size: 25px;
  }
}

.add-to-cart-button {
  padding-top: 10px;
  width: 100%;
  display: fixed;
  text-align: center;
  color: $dark-brown;
  position: relative;
  border-top: 2px solid;
  border-color: $dark-brown;
  min-height: 50px;

  button {
    border-radius: 10px;
    border-color: $dark-brown;
    box-shadow: 2px 2px $dark-brown-bg;
    font-family: $font-family-fancy;
    color: $dark-brown;
    background-color: $light-brown-bg;
  }

  button:active {
    background-color: $dark-brown-bg;
    color: $light-brown;
    box-shadow: inset 2px 2px 2px 2px $dark-brown-bg;
    transform: translateY(2px) translateX(3px) scale(.97);
    border-color: $dark-brown;
  }
}