@import "../styles/variables.scss";
@import "../styles/reset.scss";

.li__product-item {
  display: flex;
  flex-flow: column;
  border: 2px solid;
  border-color: aqua;
  border-radius: 25px;
  background-color: $dark-background;
  padding: 10px;
  margin: auto;
  max-width: 30%;
  min-width: 30%;
  min-height: 500px;
  max-height: 500px;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;

  img {
    width: 400px;
    border-radius: 20px;
  }

  .div__product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .div__product-item {
    display: flex;
    justify-content: space-between;
  }

  .product-name {
    font-size: 30px;
  }

  .product-price {}

  .product-size {}

  .product-category {}
}