@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Fjalla+One&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&family=Titan+One&display=swap');

$font-family: "Source Sans Pro", sans-serif;
$font-family-fancy: 'Fjalla One', sans-serif;

$active-opacity: 1;
$inactive-opacity: 0.15;

$white: #fff;
$black: #000;

$dark-background: #4d331f61;
$body-text: #bf9a7c;

// Color Palette
$dark-brown: #4d331f;
$medium-brown: #7C4E29;
$light-brown: #e9bc7b;

// Color Palette Semi Opaque
$dark-brown-bg: rgba(77, 51, 31, .5);
$medium-brown-bg: rgba(124, 78, 41, 0.5);
$light-brown-bg: rgba(233, 187, 123, 0.5);


$spacing: 2rem;